<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <title>HueMix-Link - {% block title %} {% endblock %}</title>
</head>

<body>
  <nav>
    <div class="logo-container">
      <img src="../static/logo.png" alt="Logo" class="logo">
      <a class="title" href="/">HueMix-Link</h1>
    </div>
    <div class="nav-links-big">
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/buttons">Buttons</a></li>
        <li><a href="/servers">Servers</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>
      <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="responsive-menu">
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/buttons">Buttons</a></li>
        <li><a href="/servers">Servers</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %} 
  {% if messages %} 
  {% for category, message in messages %} 
    <script>
      executeAlert("{{ category }}", "{{ message }}");
    </script>  
 {% endfor %} {% endif %} {% endwith %}
  <main>
    {% block content %}
    
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 HueMix-Link. All rights reserved.</p>
    <p>GitHub repository: <a href="https://github.com/Mathimix7/HueMix-Link" target="_blank">GitHub</a></p>
  </footer>
</body>
</html>