{% extends "base.html" %}
{% block title %} Server Information {% endblock %}
{% block content %}
<style>
.main-heading {
  text-align: center;
  margin-top: 50px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.device-table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: min(450px, 70vw);
}

.device-table th,
.device-table td {
  padding: 15px;
  text-align: left;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.device-table th {
  width: min(150px, 25vw);
  background-color: #e6e4e4;
}

.time-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.time-selectors label {
  margin-right: 10px;
}

.select-container {
  position: relative;
}

select {
  width: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  cursor: pointer;
}

.separator {
  margin: 0 5px;
  font-size: 20px;
}

.upload-container {
  display: flex;
  align-items: center;
}

.buttontable {
  padding: 8px 12px;
  background-color: #0D19A3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#file-upload {
  padding: 8px 12px;
  background-color: #0D19A3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 105px;
  margin-right: 50px;
}

#file-upload::file-selector-button {
  display: none;
}

#file-upload:hover {
  background-color: #07004c;
}

.button:hover {
  background-color: #07004c;
}

@media (max-width: 420px) {
  #file-upload {
    margin-right: 35px;
  }
}
</style>

<h2 class="main-heading">{{ data["deviceName"] }} server information</h2>
<div class="table-container">
    <table class="device-table">
      <tbody>
        <tr>
          <th>Status:</th>
          <td>{{ data["status"] }}</td>
        </tr>
        <tr>
          <th>Device Name:</th>
          <td>{{ data["deviceName"] }}</td>
        </tr>
        <tr>
          <th>MAC Address:</th>
          <td>{{ data["macAddress"] }}</td>
        </tr>
        <tr>
          <th>IP Address:</th>
          <td>{{ data["ip"] }}</td>
        </tr>
        <tr>
          <th>Last Used:</th>
          <td>{{ data["lastUsed"] }}</td>
        </tr>
        <tr>
          <th>LED off Time:</th>
          <td>
            <div class="select-container">
              <select id="led-on-time" name="led_on_time">
                {% for hour in range(0, 24) %}
                <option value="{{ hour }}" {% if data["led_on_time"] == hour %}selected{% endif %}>{{ hour }} h</option>
                {% endfor %}
              </select>
              <span class="separator">-</span>
              <select id="led-off-time" name="led_off_time">
              {% for hour in range(24) %}
                <option value="{{ hour }}" {% if data["led_off_time"] == hour %}selected="selected"{% endif %}>{{ hour }} h</option>
              {% endfor %}
            </select>
            <button id="led-time-button" class="buttontable">Update</button>
          </div>
          </td>
        </tr>
        <tr>
          <th>Upload File:</th>
          <td>
            <div class="upload-container">
              <input type="file" id="file-upload" name="file_upload" accept=".bin">
              <button id="upload-button" class="buttontable">Update</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>  
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var uploadButton = document.getElementById("upload-button");
    uploadButton.addEventListener("click", function() {
      var esp32IP = "{{ data['ip'] }}"; // Replace with the actual IP address
      var firmwareFileInput = document.getElementById("file-upload");
      var firmwareFile = firmwareFileInput.files[0];
      if (!firmwareFile) {
        executeAlert("error", "Select a file before uploading");
        return;
      }
      if (firmwareFile.name.substr(-4).toLowerCase() !== ".bin") {
        executeAlert("error", "Invalid file format, only .bin files are allowed");
        return;
      }
      executeAlert("info", "New firmware update started")
      var otaURL = "http://" + esp32IP + "/update";
      var formData = new FormData();
      formData.append("update", firmwareFile);
      fetch(otaURL, {
        method: "POST",
        body: formData
      }).then(function(response) {
        if (response.ok) {
          return response.text();
        } else {
          executeAlert("error", "Failed to update firmware")
        }
      }).then(function(responseText) {
        if (responseText === "OK") {
          executeAlert("success", "New firmware was updated succesfully!")
        } else {
          executeAlert("error", "Failed to update firmware")
        }
      }).catch(function(error) {
          console.log(error.message);
        });
    });

    var ledTimeButton = document.getElementById("led-time-button");
    ledTimeButton.addEventListener("click", function() {
      var esp32IP = "{{ data['ip'] }}";
      var ledOnTimeSelect = document.getElementById("led-on-time");
      var ledOnTimeValue = ledOnTimeSelect.value;
      var ledOffTimeSelect = document.getElementById("led-off-time");
      var ledOffTimeValue = ledOffTimeSelect.value;

      var requestURL = "http://" + esp32IP + "/led_off_times?led_on_time=" + ledOnTimeValue + "&led_off_time=" + ledOffTimeValue;

      fetch(requestURL)
        .then(function(response) {
          if (response.ok) {
            executeAlert("success", "New led off time was updated succesfully!")
          } else {
            executeAlert("error", "Failed to update led off time")
          }
        })
        });
      });
</script>
{% endblock %}