{% extends 'base.html' %}
<h1>{% block title %} Settings {% endblock %}</h1>
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
<header class="header">
    <p class="number">#1</p>
    <h1 style="font-family:verdana">Settings <br>HueMix Link</h1>
</header>
<section class="content">
    <ul class="list">
        <form name="home" action="" method="post" onsubmit="">
            <button type="submit" class="button3" value="Set-Up HueBridge" name="buttons">Set-Up HueBridge</button>
            <button type="submit" class="button3" value="Set-Up Ports" name="buttons">Set-Up Ports </button>
        </form> 
    </ul>
</section>
<script>
    document.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
        event.preventDefault(); 
      }
    });
</script>
{% endblock %}