#page-container {
  position: relative;
  min-height: 98vh;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;            /* Footer height */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.button-container button {
  height: 300px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: .5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #16a085;
  text-align: center;
  transition: all 0.2s;
  font-size: 48px;
  max-width: none;
  width: 300px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0a705c;
}

.sortable-list .item {
  width: 170px;
  margin-left: -40px;
  list-style: none;
  display: flex;
  cursor: move;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  padding: 10px 13px;
  margin-bottom: 11px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.06);
  border: 1px solid #ccc;
  
  /* justify-content: space-between; */
}

.item .details {
  display: flex;
  align-items: center;
}

.item .details span {
  font-size: 1rem;
  margin-left: 10px;
}
.item i {
  color: #474747;
  font-size: 1.13rem;
}

.item.dragging {
  opacity: 0.6;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}