.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:auto;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#16a085;
    text-align:center;
    transition: all 0.2s;
    }
    .button3:hover{
    background-color:#0a705c;
    }
    @media all and (max-width:30em){
    .button3{
    display:block;
    margin:0.2em auto;
    }
    }

    .button2{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:auto;
        text-decoration:none;
        font-family: Helvetica, Arial, sans-serif;
        font-weight:300;
        color:rgba(255, 0, 0, 0.3);
        background-color: rgba(255, 0, 0, 0.3);
        text-align:center;
        transition: all 0.2s;
        }
        .button2:hover{
        background-color: rgba(255, 0, 0, 0.3);
        }
        @media all and (max-width:30em){
        .button3{
        display:block;
        margin:0.2em auto;
        }
        }

    .buttonInvisible {

    background: transparent;
    border: none !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size:25px;

}