{% extends 'base.html' %}
<h1>{% block title %} Rooms {% endblock %}</h1>
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='buttonStyle.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}" />
<header class="header">
    <p class="number">#2</p>
    <h1 style="font-family:verdana">Specify button's Room</h1>
  </header>
<form name="roomForm" action="" method="post" onsubmit="">
    <section class="content">
        <ul class="list">
        {% for i in messages %}
        <li class="list__item">
            <label class="label--radio">
                <input style="font-family:verdana" type="radio" class="radio" name="rooms" id="{{ messages[i] }}" value="{{ messages[i] }}"> {{ messages[i] }} </input><br>
            </label>
        </li>
        {% endfor %}
        <br>
        <button type="submit" class="button3">Next</button>
    </form>
</section>
{% endblock %}

